* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main,
aside {
    width: 840px;
    max-width: calc(100% - 2rem);
    margin: 1rem;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

p {
    width: auto;
    max-width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    text-align: center;
}

aside {
    width: 800px;
    max-width: 59%;
    color: #333;
    text-align: center;
    position: relative;

}

aside img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

aside h2 {
    position: relative;
    top: 40px;
    left: 5px;
}

img {

    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 40px;
    border-top: 2px solid #6b6b6b;
    text-align: center;
}

/*seletores de classe*/
.caixa {
    width: 100%;
    margin: 0;
    padding: 10px 30px 10px 10px;
    border: 2px solid rgb(86, 80, 80);
    background-color: #e0e0e0;
    margin-left: 40px;
}

.identacao {
    padding-left: 2rem;
}